* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  background-color: #d5e1ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 20px 0px #97979796;
  padding: 16px;
  box-sizing: border-box;
}

.qr-container {
  height: 288px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.text-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
  margin-top: 8px;
  box-sizing: border-box;
  gap: 16px;
}

h1 {
  font-size: 22px;
  color: #0b0b45;
}

p {
  font-size: 15px;
  color: grey;
}

@media (max-width: 320px) {
  .qr-container,
  .container {
    width: auto;
    height: auto;
  }
}
